@using NewwebApp.ViewModel;
@model IEnumerable<UserViewmodel>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumbber)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.Roles)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumbber)
            </td>

                <td>
                    @string.Join(" , " , item.Roles.ToList())
                </td>
                
                   
                
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" asp-controller="UsersView">Edit</a> |
               
                    <button href="javascript:;" class="btn btn-danger   js-delete" data-id="@item.Id" >Delete</button>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts {
    <script>
        $(document).ready(function() {
            $('.js-delete').on('Click', function() {
                var btn = $(this);

                bootbox.confirm({
                    message: "Are you sure that you need to delete this user?",
                    buttons: {
                        confirm: {
                            label: 'Yes',
                            className: 'btn-danger'
                        },
                        cancel: {
                            label: 'No',
                            className: 'btn-secondary'
                        }
                    },
                    callback: function (result) {
                        if(result){
                            $.ajax({
                                Url: '/api/Users' + btn.data('id'),
                                method :'DELETE',
                                success: function () {
                                btn.parents('tr').fadeOut();
                                alert('user deleted');

                                },
                                error: function () {
                                    alert('something wont wrong');
                                }
                            });
                        }
                    }
                });

               
            });
        });

    </script>
}

